 main {
     position: relative;
     margin: auto;
     padding: auto;
 }
 
 #pokedexTitle {
     text-align: center;
     font-size: 1.5em;
 }
 
 #form-container {
     padding: 10px;
 }
 
 #fetch-form {
     border: 1px solid black;
     justify-content: center;
     align-items: center;
     justify-items: center;
     display: flex;
     flex-wrap: wrap;
 }
 
 #fetch-form * {
     margin: 5px;
     flex-grow: 1;
 }
 
 button {
     background-color: #e30713;
     padding: 5px;
     color: white;
     box-shadow: 2px 2px 0#6e0000;
 }
 
 .infos {}
 
 .small {
     font-size: .75em;
 }